<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="public/lib/bootstrap-5.3.2-dist/css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="public/lib/fontawesome-free-6.4.2-web/css/all.css" />
    <link
      rel="stylesheet"
      href="public/css/style.css" />

    <title>{{pageTitle}}</title>
  </head>
  <body class="position-relative">
    <nav class="nav navbar-expand-lg bg-body-secondary position-fixed top-0 py-3 mb-3 z-1">
      <div class="container-fluid mx-5 px-5">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
        </button>
        <div
          class="collapse navbar-collapse"
          id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active px-4"
                .
                aria-current="page"
                href="index.php"
                ><i class="fa-solid fa-house me-2"></i>Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active px-4"
                .
                aria-current="page"
                href="index.php?page=user">
                <i class="fa-solid fa-screwdriver-wrench me-2"></i>Admin</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-lg-5">{{pageContent}}</div>

    <!-- Conteúdo principal da página será incluído aqui -->

    <script src="public/js/script.js"></script>
    <script src="public/lib/bootstrap-5.3.2-dist/js/bootstrap.js"></script>
    <script src="public/lib/fontawesome-free-6.4.2-web/js/all.js"></script>
  </body>
</html>
